* {
  background-color: whitesmoke;
  line-height: 1.9;
  box-sizing: border-box;
}

#github {
  color: orange;
}

#github:hover {
  transition: background-color 1.5s;
  background-color: green;
  transition: color 1s;
  color: white;
}

#reference_link {
  color: orange;
}

#reference_link:hover {
  transition: background-color 1.5s;
  background-color: green;
  transition: color 1s;
  color: white;
}

.examples {
  font-size: 10px;
  background-color: gainsboro;
  padding: 10px 5px;
  bordor-radius: 5px;
}

code {
    background-color: gainsboro;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
  font-size: 23px;
}

.nav-link:link {
  color: #4d4e53;
}

.nav-link:visited {
  color: #4d4e53;
}

#heading {
  font-size: 25px;
  margin: 5px 0 15px 0;
  text-align: center;
}

#navbar {
  float: left;
  width: 25%;
  height: 100%;
  top: 0;
  bottom: 0;
  left:0;
  text-align: left;
  position: fixed;
  border: solid gainsboro 4px;
}

.text {
  width: 75%;
  padding: 0 20px;
  float: right;
}


footer {
  position: fixed;
  float: bottom;
  bottom:0;
  right:0;
  width: 75%;
  text-align: right;
  padding:0 20px;
  height:40px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
